body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

* {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  text-align: center;
  margin-left: 5%;
  margin-top: 2.5%;
}

.everyTasks {
  background-color: rgb(255, 248, 185);
  width: 25%;
}

.taskName {
  margin-left: 5%;
}

.removeTask {
  margin-left: 35%;
  color: red;
  font-weight: bolder;
  cursor: pointer;
}

li {
  list-style: none;
}